
@{
    ViewBag.Title = "hike";
}

<h2>hike</h2>

<a href="@Url.Action("hikebyemployee","Salary")">Hike to Employee</a>
<br />
<br />

<a href="@Url.Action("hikebyteam","Salary")">Hike To Team</a>
<br />
<br />
<a href="@Url.Action("hiketocompany","Salary")">Hike To Company</a>