
@{
    ViewBag.Title = "hike";
}
<link href="~/Content/Salary.css" rel="stylesheet" />

<center><h2>Hike</h2></center>
<div>
    <div class="col-lg-2 "></div>
    <div class="col-lg-2" style="background-color:navy">
        <a class="salaryindex" href="@Url.Action("hikebyemployee","Salary")"><h2>Employee</h2></a>
    </div>
    <div class="col-lg-1"></div>
   
    <div class="col-lg-2" style="background-color:navy">
        <a class="salaryindex" href="@Url.Action("hikebyteam","Salary")"><h2>Team</h2></a>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-2 " style="background-color:navy">
        <a class="salaryindex" href="@Url.Action("hiketocompany","Salary")"><h2>Company</h2></a>
    </div>
    



</div>

