
@{
    ViewBag.Title = "viewsalary";
}

<h2>viewsalary</h2>

<a href="@Url.Action("viewsalarybyemployee","salary")">viewsalarybyemployee</a>
<br />
<br />
<a href="@Url.Action("viewsalarybyteam","salary")">viewsalarybyteam</a>